---
layout: layouts/home.njk
templateClass: tmpl-list
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 4
---
<div class='hero'>
  <h1>All Posts</h1>
</div

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
