---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class='landing-page'>
  <a href='https://www.instagram.com/faintmarkdesign/' target='_blank' aria-label='Link to faint mark design Instagram' rel="noopener">
    <div class='landing-button landing-button-instagram'></div>
  </a>
  <a href='https://www.etsy.com/shop/faintmarkdesign/' target='_blank' aria-label='Link to faint mark design Etsy store' rel="noopener">
    <div class='landing-button landing-button-store'></div>
  </a>
  <a href='#' target='_blank' aria-label='Link to subscribe to emails from faint mark design' rel="noopener">
    <div class='landing-button landing-button-subscribe'></div>
  </a>
</div>

{# <h1>What's New</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Want more? Check out <a href="{{ '/posts/' | url }}">all the posts</a>.</p> #}
