---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h1>Sorry, I'm a bit of perfectionist...Check back soon! In the meantime, check out <a href='https://www.instagram.com/faintmarkdesign/' aria-label='Link to faint mark design instagram'> my Instagram!</a></h1>
{# <div class='landing-page'>
  <div class='pure-g'>
    <div class='pure-u-1'>
      <a href='https://www.instagram.com/faintmarkdesign/' target='_blank' aria-label='Link to faint mark design instagram' rel="noopener">
        <div class='landing-button landing-button-instagram'></div>
      </a>
    </div>
  </div>
  <div class='pure-g'>
    <div class='pure-u-1 pure-u-sm-1-2'>
      <div class='pure-u-1'>
        <a href='https://www.instagram.com/faintmarkdesign/' target='_blank' aria-label='Link to faint mark design instagram' rel="noopener">
          <div class='landing-button landing-button-instagram'></div>
        </a>
      </div>
    </div>
    <div class='pure-u-1 pure-u-sm-1-2'>
      <div class='pure-u-1'>
        <a href='https://www.instagram.com/faintmarkdesign/' target='_blank' aria-label='Link to faint mark design instagram' rel="noopener">
          <div class='landing-button landing-button-instagram'></div>
        </a>
      </div>
    </div>
  </div>
</div> #}

{# <h1>What's New</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Want more? Check out <a href="{{ '/posts/' | url }}">all the posts</a>.</p> #}
